/* base styles  */

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 0.834vw;
    @media (max-width: 1440px) {
        font-size: 1.11vw;
    }
    @media (max-width: $l) {
        font-size: 1.25vw;
    }
    @media (max-width: $t) {
        // font-size: 1vw;
    }
    @media (max-width: $mn) {
        font-size: 1.5vw;
    }
    @media (max-width: $m) {
        font-size: 2.1vw;
    }
    @media (max-width: $xx) {
        font-size: 2.5vw;
    }
    @media (max-width: $x) {
        font-size: 3.2vw;
    }
    @media (max-width: $xs) {
        font-size: 3.2vw;
    }
}

body {       
    margin: 0;
    height: 100%;
    font-family: "MuseoSansCyrl", sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    @media (max-width: 424px) {
        font-size: 14px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
body > * {
    flex-shrink: 0; 
}
body.noscroll {
    overflow: hidden;
}
#overlay {
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    position: fixed;
    &.active {
        display: block;
    }
}

.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.none {
    display: none !important;
}
.list-scrollbar  {  
    overflow-y: auto;
    scrollbar-color: rgba(153, 166, 183, 0.5) #fff;
    scrollbar-width: thin; 
}
.list-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;  
}
.list-scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 4px;
}
.list-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(153, 166, 183, 0.5);
}
label.invalid {
    position: relative;
    input {
        &::placeholder {
            color: #F00;
        }
    }
    &::before {
        position: absolute;
        content: "";
        background-color: #ff0000;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        @media (min-width: $f) {
            width: rem-size(10);
            height: rem-size(10);
            right: rem-size(20);
        }
    }
}
button:disabled {
    opacity: 0.3;
}
.js-active {
    animation: active 0.3s ease-in alternate; 
}