<!-- Selector с поиском -->
<div class="dropdown-search">
    <button type="button" class="dropdown-search__button">Выбрать салон</button>
    <div class="dropdown-search__holder">
        <div class="dropdown-search__body list-scrollbar">
            <label class="dropdown-search__block-field">
                <input class="dropdown-search__search-field" type="text" name="" id="" autocomplete="off" placeholder="Быстрый поиск">
            </label>
            <ul class="dropdown-search__list">
                <li class="dropdown-search__gruop-item">Москва и МО</li>
                    <!-- option -->
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Арбат"><i>Gold</i> Арбат</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Новая Рига"><i>Gold</i> Новая Рига</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Осташковское"><i>Gold</i> Осташковское</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Рублевка"><i>Gold</i> Рублевка</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Смоленская"><i>Gold</i> Смоленская</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="gold погода"><i>Gold</i> Дмитровка Каштановая Роща</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Мневники">Мневники</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Анохина">Анохина</li>
                    <!-- option end -->
                <li class="dropdown-search__gruop-item">Регионы</li>
                    <!-- option -->
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Арбат">Ростов</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Новая Рига">Воронеж</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Осташковское">Волгоград</li>
                    <li title="Выбрать" class="dropdown-search__item"data-value="Gold Рублевка">Астрахань</li>                       
                   <!-- option end -->
            </ul>
            <input type="text" name="выбранный элемент" value="" class="dropdown-search__input-hidden">
        </div>
    </div>
</div>
<!-- Selector с поиском end -->
