.bredcrumbrs {
    display: flex;
    align-items: center;
    padding: 13px 0 20px;
    @media (max-width: 424px) {
        padding: 0px 0 10px;
    }
}

.bredcrumbrs__item {
    &:first-child {
        .bredcrumbrs__link {
            padding-left: 0;
        }
    }
    &:last-child {        
        .bredcrumbrs__link {
            text-decoration: underline;
            color: #616161;
            cursor: auto;
        }
    }
    &:not(:last-child) {
        .bredcrumbrs__link {            
            &::before {
            position: absolute;
            content: '';
                width: 1px;
                height: 10px;
                // background: $color-text;
            }
        }
    }    
}
.bredcrumbrs__link {
    position: relative;
    padding: 0 15px;
    color: #000;
    font-size: 16px;
    @media (max-width: 665px) {
        padding: 0px 10px;
        font-size: 14px;
    }
    @media (max-width: 424px) {
        font-size: 12px;
    }
    @media (max-width: 374px) {
        padding: 0px 9px;
        font-size: 9px;
    }
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}