.section-dropdown {
    max-width: 300px;
}
.dropdown {
	position: relative;
}

.dropdown__button {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;

	background: #FFFFFF;
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	height: 46px;

	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	padding-right: 35px;

	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	cursor: pointer;
}

.dropdown__button:focus, .dropdown__button--active {
	outline: none;
	box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

	/* Рисуем треугольник */
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #79849B transparent transparent transparent;
	border-style: solid;

	/* Снимаем клик с треугольника */
	pointer-events: none;
}


.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 52px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
	overflow: hidden;

	border-radius: 6px;
	width: 100%;

	z-index: 1;
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	margin: 0;
	padding: 0;
	border: 1px solid #7E9BBD;
	border-bottom: 0px;
	padding: 13px 20px;
	cursor: pointer;
}

.dropdown__list-item:first-child {
	border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
	border-radius: 0 0 6px 6px;
	border-bottom: 1px solid #7E9BBD;
}

.dropdown__list-item:hover {
	background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
	display: none;
}
.dropdown__list-scroll {
    height: auto;
    // height: 146px;
    // padding: 10px 0px 10px 0px;
}
.dropdown__list-scroll--height {
    height: 125px;
}