[data-tabs] ul li {
  cursor: pointer;
}
[data-tabs-content] {
  display: none;  
}
[data-tabs-content].active {
  display: block;
  animation: active .3s ease-in alternate;
}
@keyframes active {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}